<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%- title %></title>
		<meta name="description" content="<%- description %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" type="image/x-icon" href="/apple_logo.ico" />

		<!-- Bootstrap Core CSS -->
		<link href="/bootstrap.min.css" rel="stylesheet">

		<!-- Datepicker CSS -->
		<link href="/datepicker.css" rel="stylesheet">

		<!-- MetisMenu CSS -->
		<link href="/metisMenu.min.css" rel="stylesheet">

		<!-- Timeline CSS -->
		<link href="/timeline.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/sb-admin-2.css" rel="stylesheet">

		<!-- Morris Charts CSS -->
		<link href="/morris.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="/font-awesome.css" rel="stylesheet" type="text/css">

		<!-- Social Buttons CSS -->
		<link href="/bootstrap-social.css" rel="stylesheet">

		<!-- Typeahead CSS -->
		<link href="/typeaheadjs.css" rel="stylesheet">

		<style id="css"><%= css %></style>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div id="wrapper"><%= body %></div>
		<script type="text/javascript">
			var QueryString;

			function FormatToCurrency(num) {
				num = num.toString().replace(/\$|\,/g,'');
				if(isNaN(num))
					num = "0";
				var sign = (num == (num = Math.abs(num)));
				num = Math.floor(num*100+0.50000000001);
				num = Math.floor(num/100).toString();
				for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
					num = num.substring(0,num.length-(4*i+3))+','+ num.substring(num.length-(4*i+3));
				return (((sign)?'':'-') + num);
			};
		</script>
		<!-- jQuery -->
		<script src="/jquery.min.js"></script>

		<script src="/moment.js"></script>

		<!-- Typehead Plugin JavaScript -->
		<script src="/bloodhound.min.js"></script>
		<script src="/typeahead.bundle.min.js"></script>

		<script src="/app.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/bootstrap.min.js"></script>

		<!-- Datepicker Plugin JavaScript -->
		<script src="/bootstrap-datepicker.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="/metisMenu.min.js"></script>

		<!-- Morris Charts JavaScript -->
		<script src="/raphael-min.js"></script>
		<script src="/morris.min.js"></script>
		<script src="/morris-data.js"></script>

		<!-- DataTables JavaScript -->
		<script src="/jquery.dataTables.min.js"></script>
		<script src="/dataTables.bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/sb-admin-2.js"></script>
	</body>
</html>
